{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SeakeJournal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <footer style="text-align: center; margin-top: 50px;">
        <img src="{% static 'images/logo_cardinal.png' %}" alt="Logo Seake" width="60">
        <p style="font-size: 12px;">© 2025 SeakeJournal</p>
    </footer>

    <img src="{% static 'images/logo.png' %}" alt="Logo" width="150">

    <h1>Bienvenue sur SeakeJournal 🎉</h1>
    <p>Ton site Django fonctionne !</p>
    <h2>« Que tout ce qui respire loue l'Éternel ! » — Psaume 150:6</h2>
<p>Bienvenue sur SeakeJournal, un espace pour la foi, la réflexion et la lumière divine ✝️</p>
</body>
</html>